<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638910404432-im778r0ru2d2u9gbsui0t73h1p3965av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638910404432-im778r0ru2d2u9gbsui0t73h1p3965av</string>
	<key>API_KEY</key>
	<string>AIzaSyDpGjvCmamxMJmcDP1CBundRXTJ19GIBmA</string>
	<key>GCM_SENDER_ID</key>
	<string>638910404432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ShengZhang.CBDS-Calculator</string>
	<key>PROJECT_ID</key>
	<string>cbds-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>cbds-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638910404432:ios:b709eb6ee014a33457fe55</string>
	<key>DATABASE_URL</key>
	<string>https://cbds-calculator.firebaseio.com</string>
</dict>
</plist>